<div class="modal fade {{size}}" [id]="id" tabindex="-1" a ria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="mb-0">{{isEdit?'Update':'Add'}} {{title}}</h5>
        <button #close type="button" (click)="onClose()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <ng-content></ng-content>
      <ng-content select=".footer"></ng-content>
    </div>
  </div>
</div>
